$maincolor : #1474F8;
$maincolor2 : #EDA28F;
$koreanFont : 'Noto Sans KR', sans-serif;
.account__sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-left: solid rgba(240, 240, 240, 0.575) 1px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sidebar_Top {
    margin-top: 10px;
    align-self: center;
    width: 90%;
    height: 10%;
    display: flex;
    // background-color: $maincolor;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8vmax;
    font-family: 'Jua', sans-serif;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    
}

.SidaBookIcon {
    font-size: 2.7rem;
    fill: white;
}

.account__list {
    display:flex;
    list-style:none;
    padding: 8px;
}

.account__profile {
    display:flex;
    flex-direction: column;
    padding: 8px;
    height: 50%;
}

.account__username {
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 24px;
    color: #686de0
}

.account__handleGroup {
    display:flex;
    flex-direction:row;
    // justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
}

.accountBtns {
    cursor: pointer;
    width: 20%;
    height: 30%;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background-color:   white ;
    color : rgb(141, 140, 140);
    font-weight: 600;
    font-size: 2rem;
}

.SideBarOneMemberBox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17%;
  width: 100%;
  
  background-color: $maincolor2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SideBarAddMemberBox {
    position: relative;
    margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 17%;
  width: 100%;
  padding: 10px;
  background-color: #ff8364;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  top: 0;
    transition-duration: 0.3s;
  &:hover {
    top : -3px
  }
}






.SidBarMemberImg {
  width: 2.5vmax;
  height: 2.5vmax;
  margin-right: 20px;
  border-radius: 2.5vmax;
  border : solid 2px white;
}

.SidebarMemberIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $maincolor;
  font-size: 1.2rem;
  font-weight: 600;
  width: 2.5vmax;
  height: 2.5vmax;
  margin-right: 20px;
  border-radius: 2.5vmax;
  border : solid 2px rgb(255, 255, 255);
  color: white;
}

.adminBlock {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  width: 4%;
  background-color: rgb(255, 208, 0);
}

.adminBlockNone {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  width: 3%;
  background-color: rgba(217, 255, 2, 0);
}

.SideBarMemberName {
    font-size: 0.8vmax;
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 60%;
  }




