.details-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 5px;
}

.OneContent {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 100%;
  height: 3vmax;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 16px;
  top: 0;
  transition-duration: 0.3s;
  &:hover{
    top: -2px;
  
  }
}

.left-Detail {
  align-items: center;
  display: flex;
  width: 90%;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}

.Down-Detail {
  width: 2%;
  background-color: rgb(253, 110, 110);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Up-Detail {
  width: 2%;
  background-color: #93ff93;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.category-Detail {
  font-size: 1vmax;
  width: 30%;
  font-family: 'Jua', sans-serif;
}

.text-Detail {
  font-size: 1vmax;
  width: 30%;
  font-family: 'Jua', sans-serif;
}

.count-Detail {
  font-size: 1vmax;
  font-family: 'Jua', sans-serif;
  width: 30%;
  text-align: end;
}

.totalDetails {
  font-family: 'Open Sans', sans-serif;
}

.cateIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vmax;
}

.emptyContents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (max-width: 769px){ 

  .text-Detail {
    font-size: 14px;
  }
  
  .count-Detail {
    font-size: 14px;
   
  }
}