$maincolor : #1474F8;
$mainBackGroundColor : #EFEFEF;

.left-Account-Container {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 2px gray solid;
}

.graphTop{
  display: flex;
  width: 100%;
  height: 50%;
  border-top: gray solid 2px;
  background-color: white;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.totalGraph {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.815);
}

.graphBottom {
  width: 100%;
  background-color: white;
  border-top: 2px solid gray;
  padding: 10px;
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.titleBottomGraph{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 769px){

  .graphBottom {
    padding: 3px;
    height: 40%;
  }
  .textGraphBottom {
    size: large;
  }
  .left-Account-Container {
    width: 100%;
    margin-bottom: 20px;
    height: 90vh;
  }
}