.graphBottom {
    padding-left: 50px;
    padding-right: 50px;
}

.graphBottom__container {
    position: relative;
    list-style: none;
    margin: 6% 0;
    font-weight: 500;
    text-transform: uppercase;
}

.graphBottom__container:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #dfe6e9;
    border-radius: 1000px;
}

.graphBottom__container:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.graphBottom__container.first:after {
    animation-name: first;
    background-color: #778beb
}

@keyframes first {
    to {
      width: 90%;
    }
  }

  .graphBottom__container.second:after {
    animation-name: second;
    background-color: #e17055;
}

@keyframes second {
    to {
      width: 70%;
    }
  }
  .graphBottom__container.third:after {
    animation-name: third;
    background-color: #fdcb6e;
}

@keyframes third {
    to {
      width: 60%;
    }
  }
  .graphBottom__container.fourth:after {
    animation-name: fourth;
    background-color:#74b9ff;

}

@keyframes fourth {
    to {
      width: 40%;
    }
  }

