$maincolor : #1474F8;
$mainBackGroundColor : #EFEFEF;
$mainLogofont : 'Fredoka One', cursive;

.LoginModalOuter {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.26);
}

.insideLoginModal {
  width: 350px;
  height: 350px;
  position: relative;
  box-sizing: border-box;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  background-color:  white;
  box-shadow: 0 3px 7px rgb(0 0 0 / 30%);
}

 .loginModalContents {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.kakaobtn {
  cursor: pointer;
  height: 3vmax;
  width: 15vmax;
  border : none;
  font-weight: 600;
  outline: 0;
  border-radius: 5px;
  background: #FEE525;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.googlebtn {
  cursor: pointer;
  height: 3vmax;
  width: 15vmax;
  border : none;
  font-weight: 600;
  outline: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.logoLoginbtn {
  margin-right: 20px
}

.logoLoginbtns {
  margin-right: 28px;
}

.googlebtn {
  cursor: pointer;
  height: 3vmax;
  border : 1px solid rgb(173, 173, 173);
  font-weight: 600;
  outline: 0;
  border-radius: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
}

.loginModalTop {
  color: $maincolor;
  font-size: 2.5rem;
  font-family: $mainLogofont;
}

.loginModalBottom{
  height: 33%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.LoadingOuter {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
}
.insideLoading {
  display: flex;
  justify-content: center;
  margin: 200px auto;
}

.contentLoading {
  width: 500px;

}

.NotAMemberOuter {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NotAMemberInside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NotAMemberIcon {
  color: #FEE525;
  font-size: 8rem;
  margin-bottom: 20px;
}

.NotAMemberBtn {
  margin-top: 50px;
  width: 70%;
  height: 70px;
  background-color: $maincolor;
  border : 0;
  outline: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.loginModalClose {
  cursor: pointer;
 position: absolute;
 top : 0.2rem;
 right: 0.2rem;
}