
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro';
}
$maincolor : #1474F8;
$mainBackGroundColor : #EFEFEF;
$mainBackGroundColor2 : rgb(243, 246, 251);
$onepage : 100vh; 

.mainContainer {
  height : 100%;
  background-color : blue;
}
.section1 {
  height : $onepage;
  background-color : $mainBackGroundColor;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}



.section1 .textBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


@media (min-width: 770px){
 
.section1 .MainTitle {
  font-size: 2.9vmax;
  line-height: 67px;
  margin: 30px 0px;
  z-index:2;
  font-family: 'Noto Sans KR', sans-serif;
  }
.section1 .MainDesc {
  margin: 50px 0px;
  font-size: 1.8vmax;
  font-weight: 500;
  z-index:2;
  font-family: 'Noto Sans KR', sans-serif;
  }
}
.section1 .textPoint{
  color: $maincolor;
}

.WeconomyPoint {
  font-family: 'Fredoka One', cursive;
  color: #1474F8;
  font-size: 2.1vmax;
}

.section1 .caculator{
  height: 35vmax;
}

.mainTopBtn {
  cursor:pointer;
  max-width: 310px;
  height: 70px;
  background: $maincolor;
  margin-top: 60px;
  border-radius: 5px;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: white;
  outline: 0;
  border: none;
  &:hover {
    background-color: #efefef00;
    border: 2px $maincolor solid;
    color: $maincolor;
  }
}

.mainMobileBtn{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 10%;
  background-color:  $maincolor;
  font-size: 1.7rem;
  color: #EFEFEF;
  border: 0;
  outline: 0;
  z-index:1;
}

.section2 {
background-color: rgb(243, 246, 251);
height: $onepage;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 50px;
padding-right: 50px;
}

.TopSection2 {
height: 40%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.BottomSection2 {
height: 40%;
background-color: $mainBackGroundColor;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

.LeftTopSection2 {
  height: 90%;
  width: 43.5%;
  border-radius: 10px;
  background-color: gray;
  background-image: url('https://ifh.cc/g/MNkYdx.png');
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.RightTopSection2 {
  height: 90%;
  width: 50%;
  background-color: gray;
}

.LeftBottomSection2{
  height: 90%;
  width: 60%;
  background-color: gray;
}

.RightBottomSection2{
  height: 90%;
  width: 30%;
  background-color: gray;
}

.section3 {
  background-color: rgb(255, 202, 105);
  height: $onepage;

}
.section4 {
background-color: rgb(255, 255, 134);
height: $onepage;
}
.section5 {
  background-color: rgb(130, 255, 130);
  height: $onepage;

}

@media (max-width: 769px){
  .section1 {
    background-color: white;
  }

  .caculator {
    display: none;
  }
  .section1 .MainTitleLogo {
    font-family: 'Fredoka One', cursive;
    color: $maincolor;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 3rem;
  }
  .section1 .MainTitle {
  font-size: 33px;
  line-height: 45px;
  white-space: pre-line;

  }
  .section1 .MainDesc {
    margin: 50px 0px;
    font-size: 24px;
    font-weight: 500;

    }
    .WeconomyPoint {
      font-family: 'Fredoka One', cursive;
      color: #1474F8;
      font-size: 3vmax;
    }
}


