
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro';
}
$maincolor : #1474F8;
$mainBackGroundColor : #EFEFEF;
$onepage : 100vh; 

.mainContainer {
  height : 100%;
  background-color : blue;
}
.section1 {
  height : $onepage;
  background-color : $mainBackGroundColor;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}


.section1 .textBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


@media (min-width: 770px){
 
.section1 .MainTitle {
  font-size: 48px;
  line-height: 67px;
  margin: 30px 0px;
  z-index:2;
  font-family: 'Noto Sans KR', sans-serif;
  }
.section1 .MainDesc {
  margin: 50px 0px;
  font-size: 30px;
  font-weight: 500;
  z-index:2;
  font-family: 'Noto Sans KR', sans-serif;
  }
}
.section1 .textPoint{
  color: $maincolor;
}



.section1 .caculator{
  height: 65vmin;
}

.mainTopBtn {
  cursor:pointer;
  max-width: 307px;
  height: 70px;
  background: $maincolor;
  margin-top: 60px;
  border-radius: 5px;
  padding: 17px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: white;
  outline: 0;
  border: none;
  
}

.mainMobileBtn{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 10%;
  background-color:  $maincolor;
  font-size: 1.7rem;
  color: #EFEFEF;
  border: 0;
  outline: 0;
  z-index:1;
}

@media (max-width: 769px){
  .section1 {
    background-color: white;
  }

  .caculator {
    display: none;
  }
  .section1 .MainTitleLogo {
    color: $maincolor;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 3rem;
  }
  .section1 .MainTitle {
  font-size: 33px;
  line-height: 45px;
  white-space: pre-line;

  }
  .section1 .MainDesc {
    margin: 50px 0px;
    font-size: 24px;
    font-weight: 500;

    }
}
