.insideRequestLoginModal {
  width: 350px;
  height: 250px;
  position: relative;
  box-sizing: border-box;
  margin: 200px auto;
  padding: 30px;
  border-radius: 10px;
  background-color:  white;
  box-shadow: 0 3px 7px rgb(0 0 0 / 30%);
}